.btn-container {
    position: sticky;
    width: auto;
    height: auto;
    top: 0;
    padding: 10px calc((100% - 950px) / 2);
    max-width: 950px;
    margin: 0;
    background-color: rgba(23, 26, 33, .7);
    z-index: 50;
    backdrop-filter: blur(50px) saturate(1.8);
}

span.btn-text {
    line-height: 30px;
    font-size: 15px;
    padding: 0 15px;
}